{{ define "main" }}

<main class="main content">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{- if or (not .Date.IsZero) .Params.categories }}<div class="post__meta meta">{{ partial "post_meta.html" . }}</div>{{ end }}
		</header>
		{{- if .Params.thumbnail }}
		<figure class="post__thumbnail" style="height: 0 !important;width: 0 !important;margin: 0 !important;">
			<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
		</figure>
		{{- end }}
		{{- partial "post_toc.html" . -}}

		<div class="post__content clearfix">
			{{ .Content }}
		</div>

		{{ partial "post_tags.html" . }}
	</article>
	{{ partial "authorbox.html" . }}
	{{ partial "post_nav.html" . }}
	{{ partial "comments.html" . }}
</main>

<style>
	pre {color: #fff;border: inherit;padding: 1rem;margin-bottom: 1rem;}
</style>
<script>
window.onload = function() {
	var element = document.getElementsByTagName("pre"),
	    cla = "prettyprint linenums";
	for(var i = 0; i < element.length; i++){
		element[i].setAttribute("class", "prettyprint");
	}
}
</script>
<script src="{{ .Site.BaseURL }}/plugins/code-prettify/src/run_prettify.js?autoload=true&skin=desert&lang=css&linenums=true"></script>

{{ end }}
