<footer class="footer">
	<div class="container container-inner">
		<div class="footer__copyright">
          <span class="footer__copyright-credits left">
			  &copy; 2012-{{ now.Format "2006" }} <a href="https://www.kilvn.com/?utm_source=blog_footer" target="_blank" title="逆天西瓜">kilvn</a> & <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>. <!--&nbsp; <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofllow">粤ICP备16037778号-1</a-->
		  </span>
          <span class="footer__copyright-credits right">
			  {{ T "footer_credits" | safeHTML }}
		  </span>
      	</div>
		<div class="footer__copyright">
          <span class="footer__copyright-credits bottom-slogn">
			  {{ .Site.Params.subdesc }}
		  </span>
      	</div>
	</div>

	<div class="bottom_tools">
<!--        <div class="qr_tool">二维码</div>-->
        <a id="feedback" target="_blank" href="{{ "about" | relURL }}" title="意见反馈">意见反馈</a>
        <a id="scrollUp" href="javascript:;" title="飞回顶部"></a>
<!--        <img class="qr_img" src="{{ "img/qr_img.png" | relURL }}">-->
    </div>

	<ul class="bottom_border_left"></ul>
	<ul class="bottom_border_right"></ul>
</footer>
<script>
	(function () {
		var bp = document.createElement('script');
		var curProtocol = window.location.protocol.split(':')[0];
		if (curProtocol === 'https') {
			bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
		} else {
			bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		}
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(bp, s);
	})();

	var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?4d09ca1cb1ab3a94f946f7592e796ba3";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
