<div class="widget-document widget">
	<h4 class="widget-social__title widget__title">编程文档集</h4>
	<div class="widget-social__content widget__content">
		<div class="widget-document__item widget__item">
			<a class="widget-document__link widget__link btn" title="Rust 程序设计语言" href="https://docs.kilvn.com/trpl-zh-cn/" target="_blank">Rust 程序设计语言</a>
			<a class="widget-document__link widget__link btn" title="区块链技术指南" href="https://docs.kilvn.com/blockchain_guide/" target="_blank">区块链技术指南</a>
                        <a class="widget-document__link widget__link btn" title="猴子都能懂的GIT入门" href="https://backlog.com/git-tutorial/cn/" target="_blank" rel="nofollow">猴子都能懂的GIT入门</a>
                        <a class="widget-document__link widget__link btn" title="深入理解PHP内核" href="https://docs.kilvn.com/tipi/" target="_blank">深入理解PHP内核</a>
                        <a class="widget-document__link widget__link btn" title="Go语言标准库" href="https://docs.kilvn.com/The-Golang-Standard-Library-by-Example/" target="_blank">Go语言标准库</a>
			<a class="widget-document__link widget__link btn" title="电商设计手册 | SkrShop" href="https://docs.kilvn.com/skr-shop/" target="_blank">电商设计手册 | SkrShop</a>
                        <a class="widget-document__link widget__link btn" title="Go语言圣经" href="https://docs.kilvn.com/gopl-zh/" target="_blank">Go语言圣经</a>
                        <a class="widget-document__link widget__link btn" title="Go入门指南" href="https://docs.kilvn.com/the-way-to-go_ZH_CN/" target="_blank">Go入门指南</a>
                        <a class="widget-document__link widget__link btn" title="Go Web 编程" href="https://docs.kilvn.com/build-web-application-with-golang/zh/" target="_blank">Go Web 编程</a>
                        <a class="widget-document__link widget__link btn" title="深入解析Go" href="https://docs.kilvn.com/go-internals/" target="_blank">深入解析Go</a>
                        <a class="widget-document__link widget__link btn" title="Go语言博客实践" href="https://docs.kilvn.com/Go-Blog-In-Action/" target="_blank">Go语言博客实践</a>
                        <a class="widget-document__link widget__link btn" title="JavaScript模式" href="https://docs.kilvn.com/javascript-patterns/" target="_blank">JavaScript模式</a>
                        <a class="widget-document__link widget__link btn" title="笨办法学C 中文版" href="https://docs.kilvn.com/lcthw-zh/" target="_blank">笨办法学C</a>
                        <a class="widget-document__link widget__link btn" title="Docker从入门到实践" href="https://docs.kilvn.com/docker_practice/" target="_blank">Docker从入门到实践</a>
                        <a class="widget-document__link widget__link btn" title="Nginx 中文文档" href="https://docs.kilvn.com/nginx-docs/" target="_blank">Nginx 中文文档</a>
                        <a class="widget-document__link widget__link btn" title="Redis 中文文档" href="https://docs.kilvn.com/redis-doc/" target="_blank">Redis 中文文档</a>
                        <a class="widget-document__link widget__link btn" title="微服务：从设计到部署" href="https://docs.kilvn.com/microservices-from-design-to-deployment-chinese/" target="_blank">微服务：从设计到部署</a>
			<a class="widget-document__link widget__link btn" title="GORM 中文文档" href="https://docs.kilvn.com/gorm/" target="_blank">GORM 中文文档</a>
			<a class="widget-document__link widget__link btn" title="Elasticsearch 中文文档" href="https://docs.kilvn.com/elasticsearch/" target="_blank">Elasticsearch 中文文档</a>
		</div>
	</div>
	<ul class="bottom_border_left"></ul>
	<ul class="bottom_border_right"></ul>
</div>
